.size {
  width: 510px;
  height: 500px;
}
hr{
   border-width: 3px;
  width: 80%
}

.jumbotron {
  margin: auto;
}

body {
  margin: 10px 20px 20px 10px;
}

.quote {
  font-size: 40px;
}

.cite {
  font-size: 20px;
}

.img {
  margin: 10px;
  border: 20px solid Dodgerblue;
  padding: 10px;
  width: 350px;
  height: 450px;
  /*--width: 100%;and height: auto; create responsive scalable images*/
}

.img-border {
  border: 10px solid transparent;
  padding: 5px;
  border-image: url(baseballborder.png) 80 round;
}

.linkedin-image {
  height: 50px;
  width: 50px;
}

.sl-image {
  height: 60px;
  width: 60px;
}
